.App-container {
  display: grid;
  grid-gap: 0;
  background-color: #ffffff;
  padding-bottom: 0;
  width: 100%;
}

.logo {
  margin: 0 auto;
  width: 50px;
  padding: 10px 0 5px 0;
}

.logo > img {
  max-width: 50px;
}

.App-header {
  border-bottom: 1px solid #d0caca26;
  /* border-bottom: 1px solid #fefefe; */
}

