.App-container {
  display: grid;
  grid-gap: 0;
  background-color: #ffffff;
  padding-bottom: 0;
  max-width: 600px;
  margin: 0 auto;
  font-size: 13px;
}

.logo {
  margin: 0 auto;
  width: 50px;
  padding: 10px 0 5px 0;
}

.logo > img {
  max-width: 50px;
}

.App-header, .cost-container{
  border-bottom: 1px solid #e4e1df;
}

.app-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px;
}

.button-cancel{
  grid-column: span 1;
}

.button-confirm{
  grid-column: span 1;
}

