 button{
    width: 100%;
    border-radius: 5%;
    padding: 10px;
    border: 1px solid #e4e1df;
    font-weight: 800;
    font-size: calc(13px + (23 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.button-cancel button{
    background: #ffff;
    color: #f77274;
}

.button-confirm button{
    background:#f77274;
    color: #ffff;
}