/* .main{
    width: auto;
} */

.coupon-product{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.coupon-product * ul li{
    list-style: none; 
    margin: 10px 0 10px 0;
    
}
.coupon-title {
    grid-column: 1 / -1;
}
.coupon-title > ul li{
    font-weight: 800;
    margin: 0;
    position: relative;
    top: 10px;
}

.coupon-label{
  grid-column: span 5;
}

.coupon-valule{
    grid-column: span 5;
    text-align: right;
    padding-right: 40px;
}

.coupon-valule ul li{
    margin-bottom: 0px;
    position: relative;
    top: 34px;
}
